@import "compass/utilities";
@import "compass/css3";
@import "./bootstrap.min.css";

body {
	padding-top: 80px;
	font-family: "Open Sans", 'Hiragino Kaku Gothic Pro', sans-serif;
}

a {
	cursor: pointer;
}

.navbar-inner {
	background-color: #1CAD7E;
	border: none;
}

#main,#placer,#transrator {
	display: none;
}


#request_list_section {
	margin-top: 15px;
}

/* add request modal */
.modal {
	h3 {color: #ffffff;}
	.modal-body,
	.modal-footer {
		background-color: #ffffff; 
	}
	.modal-body {
		textarea { width: 97%;}
		select { width: 50px;}
	}
}
