extends layout

block content
	div.container
		#main
			header
				h1 Demo of client app due to 
					a(href="http://socket.io/") socket.io
				p This project is Client Application demo of Transrafor Service.
			
				p Please choose (Placer | Transrafor) from menu.

		// Placer View
		#placer
			h1 Placer View
			a(role="button")#add_request_btn.btn.btn-primary Add request
			#request_list_section

			div#add_request_modal.modal.hide.fade
				div.modal-header
					button(type="button", data-dismiss="modal", aria-hidden="true").close
					h3 Add Text to Translate
				div.modal-body
					textarea(rows="2")#request_textarea
					div.row
						.span1
						select.span3
							option ja
						select.span3
							option en
						.span5
				div.modal-footer
					a(data-dismiss="modal", aria-hidden="true").btn close
					a.save_btn.btn.btn-primary Save


		// Transrator View
		#transrator
			h1 Transrator View
			#transration_list_section


	// templates
	script(type="text/template", id="request_list_li")
		table.table.table-bordered.table-striped.table-hover
			thead
				tr
					th #
					th transrator
					th text
					th status
			tbody
				<% _.each(requests, function(request) {  %>
				tr
					td <%= request.requestId %>
					td <%= request.transrator %>
					td <%= request.text %>
					td wait
				<% }); %>

	script(type="text/template", id="transration_list_li")
		table.table.table-bordered.table-striped.table-hover
			thead
				tr
					th #
					th placer
					th text
					th status
					th action
			tbody
				<% _.each(transrations, function(transration) {  %>
				tr
					td <%= transration.requestId %>
					td <%= transration.placer %>
					td <%= transration.text %>
					td wait
					td
						p.btn transrate
				<% }); %>
