extends layout

block content
	div.container
		#main
			header
				h1 Demo of client app due to 
					a(href="http://socket.io/") socket.io
				p This project is Client Application demo of Translafor Service.
			
				p Please choose (
					a(href="/placer") Placer
					|  | 
					a(href="/translator") Translator
					| ) from menu.

		// Placer View
		#placer
			h1 Placer View
			a(role="button")#add_request_btn.btn.btn-primary Add request
			#request_list_section

			include template/request_modal
			include template/request_list


		// Translator View
		#translator
			h1 Translator View
			#translation_list_section

			include template/translation_list




