extends layout

block content
	div.container
		#main
			header
				h1 Demo of client app due to 
					a(href="http://socket.io/") socket.io
				p This project is Client Application demo of Transrafor Service.
				p Please choose (Placer | Transrafor) from menu.

		#placer
			h1 Placer View
			ul#request_list


		#transrator
			h1 Transrator View


	script(type="text/template", id="request_list_li")
		li
			p hogehoge
