extends layout

block content
	div.container
		header
			h1 Demo of client app due to 
				a(href="http://socket.io/") socket.io
			p This project is Client Application demo of Transrafor Service.
			p Please choose (Placer | Transrafor) from menu.