script(type="text/template", id="request_list_li")
	table.table.table-bordered.table-striped.table-hover
		thead
			tr
				th #
				th translator
				th original text
				th translation
				th status
		tbody
			<% _.each(requests, function(request) {  %>
			tr
				td <%= request.requestId %>
				td <%= request.translator %>
				td <%= request.originalText %>
				td <%= request.translationText %>
				td <%= request.status %>
			<% }); %>