div#add_request_modal.modal.hide.fade
	div.modal-header
		button(type="button", data-dismiss="modal", aria-hidden="true").close
		h3 Add Text to Translate
	div.modal-body
		textarea(rows="2")#request_textarea
		div.row
			.span1
			select.span3
				option Japanese
			| to
			select.span3
				option English
			.span5
	div.modal-footer
		a(data-dismiss="modal", aria-hidden="true").btn close
		a.save_btn.btn.btn-primary Save