div#translation_modal.modal.hide.fade
	div.modal-header
		button(type="button", data-dismiss="modal", aria-hidden="true").close
		h3 Please translate Japanese to English
	div.modal-body
		p.original_text
		textarea(rows="2")
	div.modal-footer
		a(data-dismiss="modal", aria-hidden="true").btn.close_btn close
		a.save_btn.btn.btn-primary Save