script(type="text/template", id="translation_list_li")
	table.table.table-bordered.table-striped.table-hover
		thead
			tr
				th #
				th placer
				th original text
				th translation
				th status
				th action
		tbody
			<% _.each(translations, function(translation) {  %>
			tr(data-id!="<%= translation.requestId %>").translation_tr
				td <%= translation.requestId %>
				td <%= translation.placer %>
				td <%= translation.originalText %>
				td <%= translation.translationText %>
				td <%= translation.status %>
				td
					<% if(translation.status !== "wait") { %>
					p none
					<% } else { %>
					p.btn.translate_btn translate
					<% } %>
			<% }); %>